<html lang="en">
    <head>
        <title>{{title}}</title>
        {{{deps}}}
    </head>
    <body>
        <form>
        <div class="sandbox-container row">
            <h1>Fluid Sandbox: {{title}}</h1>

            <hr/>

            <div class="row">
                <div class="column medium-9 small-12">
                    {{{md instructions}}}
                </div>
                <div class="column medium-2 small-6">
                    <input type="button" class="sandbox-start-button button expanded" value="Reload"/>
                </div>
            </div>


            <div class="row">
                <div class="column small-12">
                    <div class="fluid-tabs">
                        <ul>
                            <li><a href="#one">Output</a></li>
                            <li><a href="#two">Component Options</a></li>
                            <li><a href="#three">Markup</a></li>
                        </ul>
                        <div id="one">
                            <div class="sandbox-html-output"></div>
                        </div>
                        <div id="two">
                            <div class="sandbox-options"></div>
                        </div>
                        <div id="three">
                            <div class="sandbox-html-input"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <script type="text/javascript">
            var sandboxComponent = fluid.sandbox(".sandbox-container", {
                componentOptions: {{{jsonify componentOptions}}},
                markupContent: "{{{markupContent}}}"
            });
        </script>
    </body>
</html>